[ req ]
default_bits       = 2048
default_md         = sha256
prompt             = no
encrypt_key        = no
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
C  = VN
ST = Ho Chi Minh
L  = District 1
O  = HUTECH
OU = Cybersecurity Lab
CN = localhost
